.design {
  width: 100%;
  height: 60vh;
  background: url("../../src/img/background/Rectangle.png") no-repeat center;
  background-size: cover;
  position: relative;

  &_wrapper {
    max-width: 530px;
    position: absolute;
    top: 120px;
    left: 166px;

    &_title {
      h2 {
        font-size: 48px;
        line-height: 56px;
        font-weight: normal;
      }

      p {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &_buttons {
      display: flex;
      padding-top: 38px;



      &_btn_your {
        a {
          text-decoration: none;
          color: white;
        }

        background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
        border-radius: 4px;
        font-size: 16px;
        line-height: 21px;
        padding: 20px 60px;
        border: 0;
        transition: linear .4s;
      }
      &_btn_your:hover{
        transform: scale(1.03);
      }
      &_btn_consoles {
        a {
          text-decoration: none;
          color: white;
        }

        font-size: 16px;
        line-height: 21px;
        background: #8DD83D;
        border-radius: 4px;
        padding: 20px 23px;
        border: 0;
        margin-left: 15px;
        transition: linear .4s;
      }

      &_btn_consoles:hover {
        transform: scale(1.03);
      }
    }
  }

}