.form_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    box-sizing: border-box;
    padding: 15px;
}
.form_user input {
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 5px;
}
