body,
.container {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper {
    width: 1200px;
}
.logo {
    width: 10%;
}
.main {
    background-image: url(/Images/cropped-1920-1080-1078503.jpg);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}

.search_basket {
    display: flex;
    flex-direction: row;
}
.input_check {
    background-color: grey;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.input {
    margin-top: 6px;
}
.buy {
    width: 150px;
}
.select {
    border-radius: 5px;
    text-align: center;
    height: 25px;
}
.search_main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 15px;
}
#search {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.filter {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.inp_fil {
    display: flex;
    flex-direction: column;
}
.btn_fil {
    display: flex;
    flex-direction: column;
}
.card {
    margin: 15px 10px 15px 10px;
    padding: 10px;
    width: 240px;
    border-radius: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}
.card button {
    background: rgb(82, 0, 107);
    color: rgb(201, 200, 200);
    width: 75px;
    height: 28px;
    border-radius: 0 8px 0 8px;
    transition: all 0.5s ease-in-out;
}
.card button:hover {
    transform: scale(1.1);
}
.card img {
    width: 200px;
}
.card * {
    margin: 8px;
}
.basket {
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.btn {
    margin: 10px;
}
