.App {
    display: grid;
    grid-template-rows: 75% 1fr;
    grid-template-columns: 25% auto;
    grid-template-areas:
        "form content"
        "footer footer";
    margin: 15px;
}

.form_user {
    border: 1px solid black;
    grid-area: form;
    box-sizing: border-box;
}
.content {
    border: 1px solid black;
    grid-area: content;
}
.footer {
    margin-top: 15px;
    text-align: center;
    grid-area: footer;
    border: 1px solid black;
}
@media (max-width: 1050px) {
    .App {
        grid-template-columns: 1fr;
        grid-template-areas:
            "form"
            "content"
            "footer";
    }
}
