/* reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*reset*/


/*fonts*/
/* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/pt-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/pt-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/pt-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/pt-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./fonts/pt-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/pt-sans-v12-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/playfair-display-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/playfair-display-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/playfair-display-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/playfair-display-v22-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./fonts/playfair-display-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/playfair-display-v22-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/* playfair-display-900 - latin */
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/playfair-display-v22-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./fonts/playfair-display-v22-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/playfair-display-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('./fonts/playfair-display-v22-latin-900.woff') format('woff'), /* Modern Browsers */ url('./fonts/playfair-display-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('./fonts/playfair-display-v22-latin-900.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}

/*fonts*/


body {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
}


/*under header info*/
.header_login_info {
    width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.header_info {
    padding: 15px 0;
    color: gray;
}


.header_login {
    padding: 14px 0;
    color: gray;
}

.number_work_info {
    padding-left: 8px;
}

.login_registration_info {
    padding-left: 8px;
}

.registration_link {
    text-decoration: none;
    color: gray;
}

/*under header info end*/


/*header start*/


.header {
    width: 100%;
    background: #0F0F0F;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.header_logo {
    display: flex;
}

.header_list_ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 31px;
}

.header_list {
    padding: 0 30px;
}

.header_list:last-child {
    padding: 0;
}

.header_link {
    text-decoration: none;
    color: #969696;
}

/*header end*/

/*mens style*/
.style_man {
    width: 100%;
    min-height: 810px;
    background: url('./img/Rectangle 3.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo_content {
    margin-bottom: 80px;
}

.text_content {
    width: 40%;
    color: #FFFFFF;
}

/*mens style*/

/*season & collection start*/
.season_collection {
    color: white;
    display: flex;
    justify-content: center;


}

.season {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;


}

.season_2020 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.line {
    width: 120px;
    color: gray;
    border-bottom: 1px solid gray;
    margin: 0 auto;
   padding-top: 40px;
}

.clock_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
}


.clock {
    background: #191B1C;
    padding: 56px 22px;
}


.season_collection {
    display: flex;
}

.clock_name {
    padding: 25px 0;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.clock_price {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.season {
    position: relative;
    min-width: 55%;
    background: #000000;
    padding: 76px 80px;
}

.collection {
    min-width: 45%;
    background: url("./img/Rectangle 8.jpg") no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.collection_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.new_collection {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.catalog_link {
    border: 1px solid white;
    margin-top: 30px;

}

.catalog {
    padding: 10px 25px;
    color: white;

}

.link {
    text-decoration: none;
}

/*season & collection end*/