body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #262626;
}

section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

section.sec1 {
  background: url(/img/01.png) no-repeat center / cover;
  background-attachment: fixed;
}

section.sec2 {
  background: url(/img/3.jpg) no-repeat center / cover;
  background-attachment: fixed;
}

section.sec3 {
  background: url(/img/9.jpg) no-repeat center / cover;
  background-attachment: fixed;
}

section.sec4 {
  background: url(/img/5.jpg) no-repeat center / cover;
  background-attachment: fixed;
}
section.sec5 {
  background: url(/img/4.jpg) no-repeat center / cover;
  background-attachment: fixed;
}
.sec-text {
  background: rgb(36, 36, 36);
  padding: 4% 8%;
  height: auto;
}

.sec-text__title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.sec-text__dsc {
  color: white;
  font-size: 1em;
}
