.category {
  &_wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;

    &_flex {
      display: flex;
      justify-content: space-between;
    }

    &_item1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }


    &_item2 {
      position: relative;
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 7;
      div{
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      button{
        background: #FFFFFF;
        padding: 5px 22px;
        position: absolute;
        top: 90%;
        left: 25px;
        border: 0;

      }
    }

    &_item3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 7;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_item4 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 7;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

}