.collusion {

  &_wrapper {
    width: 100%;
    background: url("../../src/img/background/1 1.jpg") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    margin-bottom: 100px;
  }

  &_titles {
    position: absolute;
    top: 55%;
    left: 65%;
    width: 100%;

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }

    h1 {
      font-weight: bold;
      font-size: 80px;
      line-height: 120px;
    }
  }

  &_btns {

    button {
      margin: 0 5px;
      padding: 5px 28px;
      background: #22262A;
      color: white;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      border: 0;
      transition: linear .3s;
    }

    button:hover {
      transform: scale(1.05);
    }
  }
}