.fashion {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

  &_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 65px;

    &_price {
      display: flex;
      position: relative;


      span {
        width: 50px;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 62%;

      }

      p {
        padding-left: 5px;
      }

      p:last-child {
        padding-left: 35px;
        color: red;
      }
    }

    &_card {
      max-width: 270px;
      text-align: start;

      img {
        width: 100%;
        object-fit: cover;
        transition: linear .2s;
      }

      img:hover {
        transform: scale(1.1);
        opacity: 75%;
      }

      p {
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        padding-top: 35px;
      }

      h4 {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}